spring-beans/src/test/resources/org/fade/demo/springframework/beans/custom-element.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.demo.fade.org/custom-element"
		elementFormDefault="qualified">

	<element name="custom-element">
		<complexType>
			<attribute name="id" type="long" />
			<attribute name="username" type="string" />
			<attribute name="email" type="string" />
		</complexType>
	</element>

</schema>